body {
  font-family: "Open Sans";
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}
h3 {
  font-size: 2.06rem;
  font-weight: 300;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
}
.navigation {
  font-size: 1.31rem;
  font-weight: 400;
  background-color: #fff0ed;
  display: flex;
  justify-content: space-between;
}
.navigation img {
  width: auto;
}
.navigation__box {
  display: flex;
}
.navigation__box a {
  display: block;
  width: auto;
  height: 100%;
}
.navigation__heading {
  text-decoration: none;
  color: black;
}
.navigation__heading h2 {
  margin: 0;
}
.navigation__list {
  list-style-type: none;
  text-decoration: underline;
}
.navigation__list--link {
  padding: 20px;
  text-decoration: none;
  display: inline-block;
}

.navigation__text {
  text-decoration: none;
  cursor: pointer;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

.navigation__list--link a:hover {
  color: #5bacc3;
}
