body {
  font-family: "Open Sans";
  font-weight: 400;
}
h1,
h2 {
  font-size: 3.75rem;
  font-weight: 300;
}
h3 {
  font-size: 2.06rem;
  font-weight: 300;
}
p {
  font-size: 1.125rem;
  font-weight: 400;
}
.navigation {
  font-size: 1.31rem;
  font-weight: 400;
}
.navigation li {
  list-style-type: none;
  text-decoration: underline;
}
.navigation a {
  text-decoration: none;
}
