.navigation img {
  width: 7.3%;
}
.main {
  background-image: url("../assets/coffee-circle.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.main--title {
  width: 25vw;
  height: 20vh;
  background-color: #393939;
  color: #fff;
  text-align: center;
}
.drinks {
  background-color: #393939;
  width: 100%;
  color: #fff;
  text-align: center;
}
.drinks li {
  list-style-type: none;
}
.hotdrinks,
.pastries {
  text-align: center;
  background-color: #fff0ed;
}
.drinks-type--description {
  width: 33%;
  list-style-type: none;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
}
.drinks-type--price {
  color: #5bacc3;
}
.colddrinks {
  text-align: center;
  background-color: #f7f7f7;
}
